* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 1rem;
}

.dessert-item {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
}

.dessert-item img {
    width: 100%;
}

.dessert-item button {
    position: relative;
    bottom: 1rem;
    padding: .5rem 1rem;
    border-radius: 1.25rem;
    border: none;
    width: 9rem;
    align-self: center;
}

.itemButtons {
    display: flex;
    justify-content: space-between;
}