:root {
    --red: hsl(14, 86%, 42%);
    --green: hsl(159, 69%, 38%);
    --rose50: hsl(20, 50%, 98%);
    --rose100: hsl(13, 31%, 94%);
    --rose300: hsl(14, 25%, 72%);
    --rose400: hsl(7, 20%, 60%);
    --rose500: hsl(12, 20%, 44%);
    --rose900: hsl(14, 65%, 9%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 1rem;
    background: var(--rose50);
    font-family: "Red Hat Text", serif;
}

body > h2 {
    font-size: 2rem;
    color: var(--rose900);
}

button:hover {
    cursor: pointer;
}

.hidden {
    visibility: hidden;
}

/* DESSERT ITEMS */

.dessert-item {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
}

.dessert-item img {
    width: 100%;
    border-radius: .5rem;
}

.dessert-category {
    color: var(--rose500);
    font-size: .75rem;
}

.dessert-cost {
    color: var(--red);
    font-weight: 600;
    font-size: .8rem;
}

.dessert-item h3 {
    color: var(--rose900);
    font-weight: 600;
    font-size: .8rem;
}

.red-border {
    outline: 2px solid var(--red);
}

/* BUTTONS */

.dessert-item > button {
    position: relative;
    bottom: 1rem;
    padding: .5rem 0;
    border-radius: 1.25rem;
    width: 8rem;
    align-self: center;
}

.whiteButton {
    border: 1px solid var(--rose400);
    background: white;
    color: var(--rose900);
    font-size: .7rem;
    font-weight: 600;
}

.whiteButton:hover {
    color: var(--red);
    border: 1px solid var(--red);
}

.whiteButton img {
    width: 1.1rem;
    margin-right: .5rem;
    vertical-align: middle;
}

.itemButtons {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.redButton {
    background: var(--red);
    color: var(--rose100);
    border: 1px solid var(--red);
}

.qty-btn {
    background: var(--red);
    color: var(--rose100);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--rose100);
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
}

.qty-btn:hover {
    background: var(--rose100);
    color: var(--red);
}

/* CART SUMMARY */

#cart-summary {
    background: white;
    padding: 1.5rem;
    border-radius: 1rem;
}

#cart-summary h2 {
    color: var(--red);
    font-size: 1.25rem;
}

.cart-summary-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    border-bottom: 1px solid var(--rose100);
}

.cart-summary-item h3 {
    color: var(--rose900);
    font-weight: 600;
    font-size: .8rem;
}

.cart-summary-item-details {
    display: flex;
    font-size: .8rem;
}

.cart-summary-item-count {
    color: var(--red);
    font-weight: 600;
    width: 2rem;
}

.cart-summary-item-price {
    color: var(--rose300);
    font-weight: 600;
    width: 4rem;
}

.cart-summary-item-total {
    color: var(--rose400);
    font-weight: 600;
    width: 4rem;
}

.cart-summary-item-delete {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--rose300);
    border: 1px solid var(--rose300);
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
}

.cart-summary-item-delete:hover {
    cursor: pointer;
}

.empty-cart-img {
    display: block;
    margin: 2rem auto 1rem;
}

.empty-cart-txt {
    color: var(--rose500);
    font-size: .7rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1rem;
}

/* ORDER TOTAL */

.order-total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.order-total-label {
    color: var(--rose500);
    font-size: .75rem;
}

.order-total-price {
    color: var(--rose500);
    font-size: 1.25rem;
    font-weight: 700;
}

.carbon-neutral {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--rose50);
    color: var(--rose500);
    font-size: .7rem;
    padding: .75rem .5rem;
    border-radius: .5rem;
}

.carbon-neutral img {
    margin-right: .33rem;
}

.carbon-neutral span {
    font-weight: bold;
}

.cart-summary-confirm-btn {
    width: 100%;
    padding: .75rem;
    background: var(--red);
    color: var(--rose100);
    border: none;
    border-radius: 1.5rem;
    margin: 1rem 0 0 0;
    font-family: "Red Hat Text", serif;
}

.cart-summary-confirm-btn:hover {
    background: #952C0C;
}

/* SHOPPING CART */

.shopping-cart {
    background: white;
    padding: 1.5rem;
    border-radius: 1rem;
}

.shopping-cart h2 {
    color: var(--rose900);
}

.shopping-cart > p {
    color: var(--rose500);
    font-size: .7rem;
}

.new-order-btn {
    width: 100%;
    padding: .75rem;
    background: var(--red);
    color: var(--rose100);
    border: none;
    border-radius: 1.5rem;
    margin: 1rem 0 0 0;
    font-family: "Red Hat Text", serif;
}

.new-order-btn:hover {
    background: #952C0C;
}