:root {
    --red: hsl(14, 86%, 42%);
    --green: hsl(159, 69%, 38%);
    --rose50: hsl(20, 50%, 98%);
    --rose100: hsl(13, 31%, 94%);
    --rose300: hsl(14, 25%, 72%);
    --rose400: hsl(7, 20%, 60%);
    --rose500: hsl(12, 20%, 44%);
    --rose900: hsl(14, 65%, 9%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 1rem;
    background: var(--rose50);
    font-family: "Red Hat Text", serif;
}

/* DESSERT ITEMS */

.dessert-item {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
}

.dessert-item img {
    width: 100%;
    border-radius: .5rem;
}

.dessert-category {
    color: var(--rose500);
    font-size: .9rem;
}

.dessert-cost {
    color: var(--red);
    font-weight: 600;
}

.dessert-item h3 {
    color: var(--rose900);
    font-weight: 600;
}

.red-border {
    outline: 2px solid var(--red);
}

/* BUTTONS */

.dessert-item button {
    position: relative;
    bottom: 1rem;
    padding: .5rem 1rem;
    border-radius: 1.25rem;
    width: 9rem;
    align-self: center;
}

.whiteButton {
    border: 1px solid var(--rose500);
    background: white;
}

.dessert-item button img {
    width: 1.1rem;
    margin-right: .5rem;
    vertical-align: middle;
}

.itemButtons {
    display: flex;
    justify-content: space-between;
}

.redButton {
    background: var(--red);
    color: var(--rose100);
    border: 1px solid var(--red);
}

.qty-btn {
    displaY: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--rose100);
    border-radius: 50%;
    width: 1.1rem;
}